  *{
    font-family: 'Playfair Display', serif;
   margin:0;
   Padding:0;
   box-sizing: border-box;
   scroll-behavior: smooth;}

   section{padding-top:70px;}
  
   section:hover{cursor:context-menu;}

   body{background-color: rgb(253, 247, 238);}

    /* Section Navigation */

   header
    {
    background-color: #c39877;
   width:100%; 
   position:fixed; 
   z-index: 999;
   display:flex; 
   justify-content: space-between;
   align-items: center;
   padding:5px 100px;}

   img.Logo{width:100px;}

   .navigation a 
   {
   text-decoration:none; 
   font-size: 1.3em; 
   font-weight: 700; 
   color: #381a13;
   padding-right: 30px;}

    /* Section About */

   .About{ padding:100px 80px 0px 80px;
    width:100%;  
    display:flex; 
    align-items: center;
    margin-bottom: 40px;}
  
   .About div {Padding: 0px 10px}

   .About h2 {Font-size: 3.5em; 
    font-weight:600;
    color: #af2727;
    margin-bottom: 30px;}
   
    .About p {Font-size: 1.5em; 
    color: #563d2d; 
    margin-bottom: 20px; }

   .Aboutbtn {color: #381a13; 
    border: none; 
    background-color: #bd8f6c; 
    font-size: 1.3em; 
    font-weight: 600; 
    border-radius: 35px; 
    padding: 0.5em 1em; 
    transition: transform 0.5s ease;
    margin-top: 25px;
    backface-visibility: hidden;}

   .Aboutbtn:hover{background-color:#c18d65;
    cursor: pointer;
    transform: scale(1.1);}

   .buttoncontainer{
    display: flex;
    justify-content: center;
    align-items: center;}

   .coverimagecontainer img {
    width:350px; 
    border-radius: 15px;  
    box-shadow: 10px 10px 2px 1px #4e2626;
   transition: 0.5s ease;}

    .coverimagecontainer img:hover{
      transform: scale(1.02);
    }

   /* Section Characters */

   .title
   {
     display:flex;
     justify-content: center; 
     Font-size: 2.2em; 
     font-weight:700; 
     color: #381a13; 
     margin-bottom:20px;
   }

   .description{ 
    display:flex;
    justify-content: center; 
    color: #b16533;
    Font-size: 1.7em; 
    font-style: italic;
    font-weight:600; 
    margin-bottom:20px;}
   
   .cardsslidercontainer{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; }

   .sliderbutton{
    width: 30px;
    height: 40px;
    color:rgb(253, 247, 238) ; 
    border: none; 
    background-color: #603127; 
    font-size: 1.5em; 
    font-weight: 600; 
    border-radius: 10px; 
    transition: 0.3s ease ;
   margin-left: 15px;
   margin-right: 15px;}

   .sliderbutton:hover{
    cursor: pointer; 
   background-color:#381a13; }

   .cards{ width: 74%;
    display:flex;
    flex-direction: row;
    overflow-x: scroll;
   }

   .cards::-webkit-scrollbar{
    display: none;
   }

   .card
   {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 325px;
    background-color:#bd8f6c; 
    box-shadow: 7px 7px 7px 1px #4e2d26;
    border-radius : 50px; 
    padding: 15px; 
    margin: 25px;
    transition: 0.5s ease;
    backface-visibility: hidden;

    }

    .card:hover{
      transform:scale(1.03);
      background-color:#d6ad8d; 
    }

   .card_image_cirle
    {
     width:200px; 
     border-radius: 80%;  
     border: 1px solid transparent;  
     border-color: #381a13; 
    }

   .carddescription{ margin-top: 15px; 
    margin-left: 15px;
    margin-right: 15px;
   display:flex;
   flex-direction: column;
   justify-content: center; 
   align-items: center;}

   .carddescription h3
   {Font-size: 1.4em; 
    font-weight:600; 
    color:  #381a13;}

    .carddescription p{
      font-family: "fantasy";
    Font-size: 1.1em; 
    color: #381a13; 
    margin-top: 10px;
    margin-bottom: 10px;
    }

    /* Section Adaptations */
    
   .cards_noscroll{
      display:flex;
      flex-direction: row;
      justify-content: center;
    }

   .card_image_rectangle{
     width:200px; 
     border-radius: 5%;  
     box-shadow: 3px 3px 3px 1px #4e2d26;
     transition: all 0.5s ease;
     image-rendering:optimizeSpeed;
     margin-bottom: 7px;
   }

   .card_nobackground{
    flex: 0 0 325px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin: 20px;
   }

   .cardcaption{
    background-color:#bd8f6c; 
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13px; 
    font-weight:600; 
    color:  #381a13;
    transition: 0.3s ease-in;
    height: 147px;
    width:250px;
    }

    .card_image_rectangle:hover{
     transform:scale(1.03);}

    .cardcaption:hover{
      background-color:#d6ad8d; 
    }

    .details{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 10px;
      width: 90%;
    }

    .cardcaption h3{ 
      margin-top: 5px;
      margin-bottom: 3px;
    }

    .details h4 {
      font-family: "fantasy";
      Font-size: 1.1em; 
      margin-right: 30px; 
     color: #611a13;
    }

   .btn{
    color: #381a13; 
    border: none; 
    background-color: #eed8c7; 
    font-size: 1em; 
    font-weight: 600; 
    border-radius: 25px; 
    padding: 0.5em 0.5em; 
    transition: transform 0.5s ease;
    width: 120px;
    backface-visibility: hidden;}

   .btn:hover{ 
    background-color:#dfcabb;
    cursor: pointer;
    transform: scale(1.07);}
   
   .details_{ 
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 10px;
      width: 90%;}

   .details_ h4 {
     font-family: "fantasy";
     Font-size: 1.1em;  
     margin-bottom:15px;
     margin-top: 5px; 
     color: #611a13;}

   /* Section Reviews*/

   .Reviews .card{
    flex: 0 0 325px;
    padding: 25px;
   }

    /*Section Merch*/
    
    .carddescription h4{
      color:  #381a13;
    }
   .Merch .btn{
    margin: 15px;
   }

   #bag:hover{
   content: url('Images/bag back .webp');
   }

   #dumpling_doll:hover{
   content: url('Images/dumpling doll back .webp');
   }

   #metal_badge:hover{
    content: url('Images/Metal badge pic2 .webp');
    }

   #can_badge:hover{
   content: url('Images/can badges pic2 .jpg');
    }
   #mini_diary:hover{
   content: url('Images/mini diary pic2.webp');
    }
   #post_card_book:hover{
   content: url('Images/Postcard book pic2 .webp');
    }
   #aclyric_stand:hover{
    content: url('Images/aclyric stand pic2 .jpg');
    }
    #collectible_card:hover{
      content: url('Images/collectable cards pic2 .webp');
      }

   .Merch h2{
    margin-bottom:5px ;
   }

   /*Section Subscribe*/ 
   
   .Subscribe{
    padding: 25px;
    margin-bottom: 5px;
   }

   .Subscribe div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   }
   .Subscribe div label{ 
    margin-right: 15px;
    margin-left: 15px;
    font-size: 1.2em;
    font-weight:600; 
    color:  #49291d;
   }

   .Subscribe div input{
    width: 300px;
    height: 35px;
    border-radius: 50px;
    border: none;
    box-shadow: 3px 3px 5px 1px #c8b38f;
    padding: 0px 15px;
   }

   .sub_btn{
    margin-left: 15px;
    color: #381a13; 
    border: none; 
    background-color: #e8cab3; 
    font-size: 1em; 
    font-weight: 600; 
    border-radius: 25px; 
    padding: 0.5em 0.5em; 
    box-shadow: 3px 3px 5px 1px #c8b38f;
    transition: transform 0.5s ease;
    width: 175px;
   }

   .sub_btn:hover{
    cursor: pointer;
    transform:scale(1.02);
    background-color:#d6ad8d; 
   }

   footer{
    background-color: #c39877;
    color: #5d3013;
   text-align: center;
    padding:15px 0px;
   }
      
